.flex-bookmark{
    align-items: var(--pos-sc-vertical);
    justify-content: var(--pos-sc-horizontal);
    transition: transform var(--animation-duration-sc);
}
.bookscontainer {
    max-width: 70%;
    background-color: var(--color-sc);
    backdrop-filter: var(--sc-effect);
    border-radius: 7px;
    gap: 5px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-flow: var(--orientation-sc);
}
.bookscontainer .b-item {
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}
.bookscontainer .b-item:first-child { background-color: #ffffff3d; }
.bookscontainer .b-item:first-child img { width: 60%; }
.bookscontainer .b-item img {
    border-radius: 7px;
    width: 80%;
}
