:root{
    --color-text: #999;
    --color-clock: #ccc;
    --color-sc: #ffffff4d;
    --background-general: #000;
    --background-effect: none;
    --font-clock: "verdana";
    --font-size-clock: 60pt;
    --pos-clock-horizontal: center;
    --pos-clock-vertical: center;
    --pos-sc-horizontal: center;
    --pos-sc-vertical: flex-end;
    --orientation-sc: row wrap;
    --sc-effect: blur(3px);
    --animation-duration-sc: .5s;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html, body {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--font-clock);
    font-weight: 100;
    color: #999;
    background: var(--background-general);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: var(--background-effect);
}
.open-settings{
    align-items: flex-end;
    justify-content: flex-end;
    text-transform: uppercase;
}
.open-settings span{ padding-right: 15px; }
.flex{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}
.flex-clock{
    align-items: var(--pos-clock-vertical);
    justify-content: var(--pos-clock-horizontal);
}
.flex-container{
    align-items: flex-start;
    justify-content: center;
}

#clock {
    position: relative;
    margin: 10px 0;
    color: var(--color-clock);
    font-size: var(--font-size-clock);
    line-height: 1.0;
    text-align: center;
}
/*
 *
 * Modal
 *
 * */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(5px);
}
.modal-content {
    /*background-color: #fefefee3;*/
    background-color: #111;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    max-width: 40%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    color: white;
    text-transform: uppercase;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
    justify-content: right;
    margin-top: 15px;
    padding: 2px 16px;
    color: white;
    text-align-last: right;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
