/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-y: scroll;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel h2{ text-align: center; font-size: 32px; color: white; }
.container { display: inline-flex;justify-content: space-between;width: 100%;align-items:center; }
.el h2 { font-size: 22px; text-align: left; }
.el { padding: 8px 8px 8px 32px; font-size: 20px; }
.sidepanel a, .sidepanel span {
    color: #f1f1f1;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
